.banner {
  position: relative;
  margin: 0 9% 3% 9%;
}
.imgBanner {
  border-radius: 25px;
  filter: brightness(75%);
  max-width: 100%;
}

.msgBanner {
  color: white;
  font-weight: 400;
  letter-spacing: 1.1px;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-40%, -30%);
  font-size: 2rem;
}

@media screen and (max-width: 1112px) {
  .msgBanner {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 854px) {
  .msgBanner {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 724px) {
  .msgBanner {
    font-size: 1rem;
  }
}

@media screen and (max-width: 594px) {
  .msgBanner {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 521px) {
  .msgBanner {
    font-size: 0.75rem;
  }
}


