.card {
  position: relative;
  display: inline-block;
  margin-bottom: 2%;
}

.imgHouse {
  width: 315px;
  height: 300px;
  border-radius: 10px;
}

.legend {
  color: white;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-45%, -70%);
}
