a {
  color: #ff6060;
  margin-left: 50px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #ff6060;
}

.pageActive {
  text-decoration: underline;
}

@media screen and (max-width: 436px) {
  nav > a {
    margin-left: 25px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 408px) {
  nav > a {
    margin-left: 10px;
  }
}

@media screen and (max-width: 372px) {
  nav > a {
    margin-left: 5px;
  }
}


